.App {
  position: relative;
  display: grid;
  grid-template-columns: [col1-start] minmax(190px, 50vw) [col1-end col2-start]
      auto,
    [col2-end col3-start] minmax(190px, 50vw) [col3-end];
  grid-template-rows: [row1-start] 38px [row1-end row2-start] auto [row2-end];
  grid-template-areas:
    'tools tools tools'
    'items canvas editor'
    'items canvas editor';
}

.tools {
  grid-area: tools;
}

.item-panel {
  grid-area: items;
}

.canvas-container {
  grid-area: canvas;
}

.editors-panel {
  grid-area: editor;
}
